.trigger-button{
    background-color: rgb(0, 136, 248);
    color:white;
    position: absolute;
    left: 40%;
    top:50%;
    width: 300px;
    height: 100px;
    font-size: 20px;
    font-weight: 500;
}
.modal{
    padding: 20px;
    margin-right:30px;
    color: black;
    display: block;
    position: relative;
}
div.scroll { 
    margin:4px, 4px; 
    padding:4px; 
    width: 100%; 
    height:400px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align: center;
} 